%html
  %head
    = haml :head
  %body
    %div{ :class => "container" }
      %form{ :class => "card", :action => "/players", :method => "post" }
        %div{ :class => "card-body" }
          %h5{ :class => "card-title" } Add a new player
          %div{ :class => "form-group" }
            %label{ :for => "name" }Name:
            %input{ :type => "text", :class => "form-control", :id => "name", :name => "name", :placeholder => "Hervé Tété" }
          %div{ :class => "form-group" }
            %label{ :for => "name" }URL:
            %input{ :type => "text", :class => "form-control", :id => "url", :name => "url", :placeholder => "http://..." }
          %input{ :type => "submit", :class => "btn btn-primary", :value => "Submit"}
