%html
  %head
    = haml :head
    %title Extreme Startup - Control Panel
    %link(rel="stylesheet" href="/css/style.css")
    %script{:type => "text/javascript", :src  => "/js/jquery-1.6.2.min.js"}
    %script{:type => "text/javascript", :src  => "/js/controlpanel.js"}

  %body
    %div{ :class => "container" }
      %form{ :class => "card", :action => "/players", :method => "post" }
        %div{ :class => "card-body" }
          %h5{ :class => "card-title" } Current Round: #{round}
        %div{ :class => "card-body" }
          %input#advance{:class => "btn btn-primary", :type => "button", :value => "Advance Round"}
          - if (game_state.is_running?)
            %input#pause{:class => "btn btn-primary", :type => "button", :value => "Pause Game"}
          - else
            %input#resume{:class => "btn btn-primary", :type => "button", :value => "Resume Game"}

