%html
  %head
    = haml :head
    %title Extreme Startup - Leaderboard
    %link(rel="stylesheet" href="/css/style.css")
  %body
    %div{ :class => "container" }
      %div{ :class => "card" }
        %table{ :class => "table" }
          %thead
            %tr
              %th{ :scope => "col" }Player
              %th{ :scope => "col" }Points
          %tbody{ :id => "scoreboard" }
          - leaderboard.each do |entry,index|
            %tr{ :class => entry.score < 0 ? "text-danger" : "text-success" }
              %td
                &= entry.playername
              %td
                &= entry.score
    %div{ :class => "container text-center" }
      %a{ :class => "btn btn-primary", :href => '/players' }
        I want to play!

    :javascript
      refresh = function() { window.location.reload(); };
      setTimeout(refresh, 10000);
